In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Read the dataset

In [9]:
x_train = pd.read_csv('/content/drive/MyDrive/Project/US Adidas Sales/Dataset/x_train_operating_margin.csv')
x_test = pd.read_csv('/content/drive/MyDrive/Project/US Adidas Sales/Dataset/x_test_operating_margin.csv')
y_train = pd.read_csv('/content/drive/MyDrive/Project/US Adidas Sales/Dataset/y_train_operating_margin.csv')
y_test = pd.read_csv('/content/drive/MyDrive/Project/US Adidas Sales/Dataset/y_test_operating_margin.csv')

In [10]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5842 entries, 0 to 5841
Data columns (total 68 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Month                       5842 non-null   int64
 1   Day                         5842 non-null   int64
 2   Gender                      5842 non-null   int64
 3   Price per Unit              5842 non-null   float64
 4   Units Sold                  5842 non-null   int64
 5   Retailer_Amazon             5842 non-null   int64
 6   Retailer_Foot Locker        5842 non-null   int64
 7   Retailer_Kohl's             5842 non-null   int64
 8   Retailer_Sports Direct      5842 non-null   int64
 9   Retailer_Walmart            5842 non-null   int64
 10  Retailer_West Gear          5842 non-null   int64
 11  Region_Midwest              5842 non-null   int64
 12  Region_Northeast            5842 non-null   int64
 13  Region_South                5842 non-null   int64
 14  Region_Southeast            5842 non-null   int64
 15  Region_West                 5842 non-null   int64
 16  Sales Method_In-store       5842 non-null   int64
 17  Sales Method_Online         5842 non-null   int64
 18  Sales Method_Outlet         5842 non-null   int64
 19  Product_ Apparel            5842 non-null   int64
 20  Product_ Athletic Footwear  5842 non-null   int64
 21  Product_ Street Footwear    5842 non-null   int64
 22  State_Alabama               5842 non-null   int64
 23  State_Alaska                5842 non-null   int64
 24  State_Arizona               5842 non-null   int64
 25  State_Arkansas              5842 non-null   int64
 26  State_California            5842 non-null   int64
 27  State_Connecticut           5842 non-null   int64
 28  State_Delaware              5842 non-null   int64
 29  State_Florida               5842 non-null   int64
 30  State_Georgia               5842 non-null   int64
 31  State_Hawaii                5842 non-null   int64
 32  State_Idaho                 5842 non-null   int64
 33  State_Illinois              5842 non-null   int64
 34  State_Indiana               5842 non-null   int64
 35  State_Iowa                  5842 non-null   int64
 36  State_Kansas                5842 non-null   int64
 37  State_Kentucky              5842 non-null   int64
 38  State_Louisiana             5842 non-null   int64
 39  State_Maine                 5842 non-null   int64
 40  State_Maryland              5842 non-null   int64
 41  State_Massachusetts         5842 non-null   int64
 42  State_Michigan              5842 non-null   int64
 43  State_Mississippi           5842 non-null   int64
 44  State_Missouri              5842 non-null   int64
 45  State_Montana               5842 non-null   int64
 46  State_Nebraska              5842 non-null   int64
 47  State_New Hampshire         5842 non-null   int64
 48  State_New Jersey            5842 non-null   int64
 49  State_New Mexico            5842 non-null   int64
 50  State_New York              5842 non-null   int64
 51  State_North Carolina        5842 non-null   int64
 52  State_North Dakota          5842 non-null   int64
 53  State_Ohio                  5842 non-null   int64
 54  State_Oklahoma              5842 non-null   int64
 55  State_Oregon                5842 non-null   int64
 56  State_Pennsylvania          5842 non-null   int64
 57  State_Rhode Island          5842 non-null   int64
 58  State_South Carolina        5842 non-null   int64
 59  State_South Dakota          5842 non-null   int64
 60  State_Tennessee             5842 non-null   int64
 61  State_Texas                 5842 non-null   int64
 62  State_Utah                  5842 non-null   int64
 63  State_Vermont               5842 non-null   int64
 64  State_Virginia              5842 non-null   int64
 65  State_West Virginia         5842 non-null   int64
 66  State_Wisconsin             5842 non-null   int64
 67  State_Wyoming               5842 non-null   int64
dtypes: float64(1), int64(67)
memory usage: 3.0 MB

In [11]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5842 entries, 0 to 5841
Data columns (total 1 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Operating Margin  5842 non-null   int64
dtypes: int64(1)
memory usage: 45.8 KB

Allocate into respective category

In [15]:
# select numerical variables
numerical_cols = ['Price per Unit', 'Units Sold']
x_train_numerical = x_train[numerical_cols]

# select categorical variables
categorical_cols = ['Month', 'Day', 'Gender', 
       'Retailer_Amazon', 'Retailer_Foot Locker', "Retailer_Kohl's",
       'Retailer_Sports Direct', 'Retailer_Walmart', 'Retailer_West Gear',
       'Region_Midwest', 'Region_Northeast', 'Region_South',
       'Region_Southeast', 'Region_West', 'Sales Method_In-store',
       'Sales Method_Online', 'Sales Method_Outlet', 'Product_ Apparel',
       'Product_ Athletic Footwear', 'Product_ Street Footwear',
       'State_Alabama', 'State_Alaska', 'State_Arizona', 'State_Arkansas',
       'State_California', 'State_Connecticut', 'State_Delaware',
       'State_Florida', 'State_Georgia', 'State_Hawaii', 'State_Idaho',
       'State_Illinois', 'State_Indiana', 'State_Iowa', 'State_Kansas',
       'State_Kentucky', 'State_Louisiana', 'State_Maine', 'State_Maryland',
       'State_Massachusetts', 'State_Michigan', 'State_Mississippi',
       'State_Missouri', 'State_Montana', 'State_Nebraska',
       'State_New Hampshire', 'State_New Jersey', 'State_New Mexico',
       'State_New York', 'State_North Carolina', 'State_North Dakota',
       'State_Ohio', 'State_Oklahoma', 'State_Oregon', 'State_Pennsylvania',
       'State_Rhode Island', 'State_South Carolina', 'State_South Dakota',
       'State_Tennessee', 'State_Texas', 'State_Utah', 'State_Vermont',
       'State_Virginia', 'State_West Virginia', 'State_Wisconsin',
       'State_Wyoming']
x_train_categorical = x_train[categorical_cols]

Numerical variables

In [16]:
# Creating the correlation matrix
corr_matrix = x_train[numerical_cols].corr()

# show correlation matrix with numbers
corr_matrix.style.background_gradient(cmap='coolwarm')

The correlation between the Price per unit and Units sold is not significant.

Mutual information

In [17]:
from sklearn.feature_selection import mutual_info_regression

# Compute mutual information between each feature in X and y
mutual_info1 = mutual_info_regression(x_train_numerical, y_train, random_state=42)

# Create a DataFrame to store the mutual information scores for each feature
mi_df1 = pd.DataFrame({'feature': numerical_cols, 'mi_score': mutual_info1})

# Sort the features by their mutual information scores in descending order
mi_df1 = mi_df1.sort_values(by='mi_score', ascending=False)

# Print the mutual information scores for each feature
mi_df1

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

          feature  mi_score
1      Units Sold  0.386740
0  Price per Unit  0.276167

Categorical variables

In [19]:
from sklearn.feature_selection import mutual_info_regression

# Compute mutual information between each feature in X and y
mutual_info2 = mutual_info_regression(x_train_categorical, y_train, random_state=42)

# Create a DataFrame to store the mutual information scores for each feature
mi_df2 = pd.DataFrame({'feature': categorical_cols, 'mi_score': mutual_info2})

# Sort the features by their mutual information scores in descending order
mi_df2 = mi_df2.sort_values(by='mi_score', ascending=False)

# Print the mutual information scores for each feature
mi_df2

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

                  feature  mi_score
14  Sales Method_In-store  0.164026
15    Sales Method_Online  0.120423
16    Sales Method_Outlet  0.094239
11           Region_South  0.040137
0                   Month  0.034653
..                    ...       ...
47       State_New Mexico  0.000000
55     State_Rhode Island  0.000000
32          State_Indiana  0.000000
30            State_Idaho  0.000000
65          State_Wyoming  0.000000

[66 rows x 2 columns]

In [22]:
mi_df2[1:33]

                     feature  mi_score
15       Sales Method_Online  0.120423
16       Sales Method_Outlet  0.094239
11              Region_South  0.040137
0                      Month  0.034653
1                        Day  0.033383
17          Product_ Apparel  0.030929
39       State_Massachusetts  0.025014
13               Region_West  0.024819
9             Region_Midwest  0.022251
29              State_Hawaii  0.022065
20             State_Alabama  0.021679
27             State_Florida  0.020547
6     Retailer_Sports Direct  0.020372
2                     Gender  0.019815
8         Retailer_West Gear  0.019699
34              State_Kansas  0.019152
42            State_Missouri  0.018279
37               State_Maine  0.017440
22             State_Arizona  0.017423
59               State_Texas  0.016897
21              State_Alaska  0.016775
19  Product_ Street Footwear  0.016745
53              State_Oregon  0.016081
33                State_Iowa  0.016007
12          Region_Southeast  0.014955
3            Retailer_Amazon  0.012899
64           State_Wisconsin  0.012384
49      State_North Carolina  0.011387
63       State_West Virginia  0.011356
43             State_Montana  0.011353
46          State_New Jersey  0.010981
61             State_Vermont  0.010803

In [23]:
mi_df2[33:66]

                       feature  mi_score
56        State_South Carolina  0.010765
40              State_Michigan  0.010744
60                  State_Utah  0.010591
48              State_New York  0.010192
10            Region_Northeast  0.009919
50          State_North Dakota  0.009801
41           State_Mississippi  0.009799
62              State_Virginia  0.009590
36             State_Louisiana  0.008936
58             State_Tennessee  0.008870
24            State_California  0.008869
45         State_New Hampshire  0.008788
35              State_Kentucky  0.008253
4         Retailer_Foot Locker  0.008118
44              State_Nebraska  0.005840
5              Retailer_Kohl's  0.005539
7             Retailer_Walmart  0.005078
25           State_Connecticut  0.004991
18  Product_ Athletic Footwear  0.004588
51                  State_Ohio  0.003916
23              State_Arkansas  0.003462
31              State_Illinois  0.003225
28               State_Georgia  0.003204
26              State_Delaware  0.001803
38              State_Maryland  0.001750
52              State_Oklahoma  0.001524
57          State_South Dakota  0.001466
54          State_Pennsylvania  0.000007
47            State_New Mexico  0.000000
55          State_Rhode Island  0.000000
32               State_Indiana  0.000000
30                 State_Idaho  0.000000
65               State_Wyoming  0.000000

We will drop the State_Pennsylvania, State_New Mexico, State_Rhode Island, State_Indiana, State_Idaho and State_Wyoming

In [24]:
x_train1 = x_train.drop(['State_Pennsylvania', 'State_New Mexico',
                         'State_Rhode Island', 'State_Indiana',
                         'State_Idaho','State_Wyoming'], axis=1)

In [25]:
x_test1 = x_test.drop(['State_Pennsylvania', 'State_New Mexico',
                         'State_Rhode Island', 'State_Indiana',
                         'State_Idaho','State_Wyoming'], axis=1)

Export the clean the dataset for the operating margin

In [28]:
x_train1.to_csv('/content/drive/MyDrive/Project/US Adidas Sales/Dataset/x_train_oper_clean.csv', index=False)
x_test1.to_csv('/content/drive/MyDrive/Project/US Adidas Sales/Dataset/x_test_oper_clean.csv', index=False)