In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## 1) Read the dataset

In [13]:
sales = pd.read_csv('/content/drive/MyDrive/Project/US Adidas Sales/Dataset/Adidas US Sales.csv')

In [14]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer          9648 non-null   object
 1   Retailer ID       9648 non-null   int64
 2   Invoice Date      9648 non-null   object
 3   Region            9648 non-null   object
 4   State             9648 non-null   object
 5   City              9648 non-null   object
 6   Product           9648 non-null   object
 7   Price per Unit    9648 non-null   object
 8   Units Sold        9648 non-null   object
 9   Total Sales       9648 non-null   object
 10  Operating Profit  9648 non-null   object
 11  Operating Margin  9648 non-null   object
 12  Sales Method      9648 non-null   object
dtypes: int64(1), object(12)
memory usage: 980.0+ KB

In [15]:
sales.head(n = 5)

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,1/1/2020,Northeast,New York,New York,Men's Street Footwear,$50.00,"1,200","$600,000","$300,000",50%,In-store
1,Foot Locker,1185732,2/1/2020,Northeast,New York,New York,Men's Athletic Footwear,$50.00,"1,000","$500,000","$150,000",30%,In-store
2,Foot Locker,1185732,3/1/2020,Northeast,New York,New York,Women's Street Footwear,$40.00,"1,000","$400,000","$140,000",35%,In-store
3,Foot Locker,1185732,4/1/2020,Northeast,New York,New York,Women's Athletic Footwear,$45.00,850,"$382,500","$133,875",35%,In-store
4,Foot Locker,1185732,5/1/2020,Northeast,New York,New York,Men's Apparel,$60.00,900,"$540,000","$162,000",30%,In-store

## 2) Split the Invoice dates into Day Month and Year columns separately

In [16]:
# Convert the "Invoice Date" column to a datetime format
sales["Invoice Date"] = pd.to_datetime(sales["Invoice Date"],format="%d/%m/%Y")

# Extract the day, month, and year into separate columns
sales["Day"] = sales["Invoice Date"].dt.day
sales["Month"] = sales["Invoice Date"].dt.month
sales["Year"] = sales["Invoice Date"].dt.year

In [17]:
sales.head(n = 5)

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method,Day,Month,Year
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,$50.00,"1,200","$600,000","$300,000",50%,In-store,1,1,2020
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,$50.00,"1,000","$500,000","$150,000",30%,In-store,2,1,2020
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,$40.00,"1,000","$400,000","$140,000",35%,In-store,3,1,2020
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,$45.00,850,"$382,500","$133,875",35%,In-store,4,1,2020
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,$60.00,900,"$540,000","$162,000",30%,In-store,5,1,2020

## 3) Convert the Total Sales and Operating Profit into numeric versions

In [19]:
# Convert the "Total Sales" column to a numeric format
sales["Total Sales"] = sales["Total Sales"].replace("[$,]", "", regex=True).astype(int)
sales["Operating Profit"] = sales["Operating Profit"].replace("[$,]", "", regex=True).astype(int)
# Print the updated dataframe
sales.head(n = 5)

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method,Day,Month,Year
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,$50.00,"1,200",600000,300000,50%,In-store,1,1,2020
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,$50.00,"1,000",500000,150000,30%,In-store,2,1,2020
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,$40.00,"1,000",400000,140000,35%,In-store,3,1,2020
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,$45.00,850,382500,133875,35%,In-store,4,1,2020
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,$60.00,900,540000,162000,30%,In-store,5,1,2020

## 4) Drop the Dollar sign in the Price per unit

In [22]:
sales["Price per Unit"] = sales["Price per Unit"].replace("[$]", "", regex=True).astype(float).round(2)

In [23]:
sales.head(n = 5)

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method,Day,Month,Year
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,"1,200",600000,300000,50%,In-store,1,1,2020
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,"1,000",500000,150000,30%,In-store,2,1,2020
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,"1,000",400000,140000,35%,In-store,3,1,2020
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500,133875,35%,In-store,4,1,2020
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000,162000,30%,In-store,5,1,2020

## 5) Drop the comma sign in the Units Sold

In [24]:
sales["Units Sold"] = sales["Units Sold"].replace("[,]", "", regex=True).astype(int)

In [25]:
sales.head(n = 5)

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method,Day,Month,Year
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000,300000,50%,In-store,1,1,2020
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000,150000,30%,In-store,2,1,2020
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000,140000,35%,In-store,3,1,2020
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500,133875,35%,In-store,4,1,2020
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000,162000,30%,In-store,5,1,2020

## 6) Drop the percent sign in the Operating Margin Column

In [28]:
sales["Operating Margin"] = sales["Operating Margin"].replace("[%]", "", regex=True).astype(int)

In [29]:
sales.head(n = 5)

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method,Day,Month,Year
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000,300000,50,In-store,1,1,2020
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000,150000,30,In-store,2,1,2020
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000,140000,35,In-store,3,1,2020
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500,133875,35,In-store,4,1,2020
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000,162000,30,In-store,5,1,2020

## 7) Split the Product Column into Gender and Product

In [30]:
sales[["Gender", "Product"]] = sales["Product"].str.split("'s", n=1, expand=True)

In [31]:
sales.head(n = 5)

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method,Day,Month,Year,Gender
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Street Footwear,50.0,1200,600000,300000,50,In-store,1,1,2020,Men
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Athletic Footwear,50.0,1000,500000,150000,30,In-store,2,1,2020,Men
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Street Footwear,40.0,1000,400000,140000,35,In-store,3,1,2020,Women
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Athletic Footwear,45.0,850,382500,133875,35,In-store,4,1,2020,Women
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Apparel,60.0,900,540000,162000,30,In-store,5,1,2020,Men

## 8) Rearrange the Columns in the specified order

In [32]:
# Define the desired column order
desired_order = ["Retailer","Retailer ID","Invoice Date",
                 "Year","Month","Day","Region","State","City",
                 "Sales Method","Gender","Product","Price per Unit",
                 "Units Sold","Total Sales","Operating Margin",
                 "Operating Profit"]
sales = sales.reindex(columns=desired_order)

In [33]:
sales.head(n = 5)

,Retailer,Retailer ID,Invoice Date,Year,Month,Day,Region,State,City,Sales Method,Gender,Product,Price per Unit,Units Sold,Total Sales,Operating Margin,Operating Profit
0,Foot Locker,1185732,2020-01-01,2020,1,1,Northeast,New York,New York,In-store,Men,Street Footwear,50.0,1200,600000,50,300000
1,Foot Locker,1185732,2020-01-02,2020,1,2,Northeast,New York,New York,In-store,Men,Athletic Footwear,50.0,1000,500000,30,150000
2,Foot Locker,1185732,2020-01-03,2020,1,3,Northeast,New York,New York,In-store,Women,Street Footwear,40.0,1000,400000,35,140000
3,Foot Locker,1185732,2020-01-04,2020,1,4,Northeast,New York,New York,In-store,Women,Athletic Footwear,45.0,850,382500,35,133875
4,Foot Locker,1185732,2020-01-05,2020,1,5,Northeast,New York,New York,In-store,Men,Apparel,60.0,900,540000,30,162000

## 9) Export the Initial cleaned version of the dataset

In [34]:
import os
# Export the updated dataframe to a new CSV file
sales.to_csv("/content/drive/MyDrive/Project/US Adidas Sales/Dataset/adidas_sales_new.csv", index=False)